# Logs
logs
*.log
npm-debug.log*

# Folders
node_modules/
dist/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

# Misc. files
userTokens.json
*.pem