# Logs
logs
*.log
npm-debug.log*

# Folders
.cache/
node_modules/
frontend/node_modules/
frontend/dist/

# Editor directories and files
.vscode/
.idea/
.claude/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

# Misc. files
*.pem
